.search-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
}

.search-section input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-section button {
  padding: 10px 20px;
  background-color: #0d3b66;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
